.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-column{
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    height: auto;
    font-size: 20px;
}

.navitem{
    width: 20%;
    justify-content: center;
    align-items: center;
}

.left-push {
    margin-right: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homebg{
    background-image: url("/8-beautiful-minimalist-desktop-wallpapers-8k-hongkiat-desktop-minimalist-wallpaper.jpg");

    filter: blur(3px);
}

.tab-fixed {
    width: 90px;
    text-align: center;
    position: fixed;
    z-index: 200;
    background: #fff;
    height: 100vh;
    -webkit-box-shadow: 0 3px 7px 0 rgb(0 0 0 / 27%);
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 27%);
}

.item-drop{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 64px;
}

.item{
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.item:hover{
    background: rgba(0,0,0,.04);
    fill: #fff;
}

.fontsize{
    font-size: 15px;
}
